{% from 'bootstrap4/form.html' import render_field %}

<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body class="container">
    <nav class="nav  ">
        <a class="nav-link active" href="/">Dashboard</a>
        <p class="nav-link" >Welcome {{name}}</p>
        <a class="nav-link ml-auto" href="{{url_for('logout')}}">Logout</a>
    </nav>
    <hr>
    <div class=" border p-4 m-4 rounded">

        <h2>New Todo</h2>

        <form action="{{url_for('add_todo')}}" method="post" class="my-4">
            {{ form.hidden_tag() }}
            {{ render_field(form.title) }}
            {{ render_field(form.description) }}
            <input type="submit" class="btn btn-primary" value="Add Todo" >

        </form>
    </div>

    {{ bootstrap.load_js() }}

</body>
</html>